@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

table.calendar-table { 
    border-collapse: collapse;
    background-color: #687886;
}

tr.calendar-table-tr {
    border-bottom: 1pt solid black;
}